.code-block-view {
  position: relative;

  .lang-indicator {
    color: #fff;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.25s;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;

    &--hide {
      opacity: 0;
    }
  }
}
